{#
/**
 * @file
 * Omega's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 * - hide_site_name: A flag indicating if the site name has been toggled off on
 *   the theme settings page. If hidden, the "visually-hidden" class is added
 *   to make the site name visually hidden, but still accessible.
 * - hide_site_slogan: A flag indicating if the site slogan has been toggled off
 *   on the theme settings page. If hidden, the "visually-hidden" class is
 *   added to make the site slogan visually hidden, but still accessible.
 *
 * Navigation:
 * - main_menu: The Main menu links for the site, if they have been configured.
 * - secondary_menu: The Secondary menu links for the site, if they have been
 *   configured.
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - feed_icons: All feed icons for the current page.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * Twig Block Overrides/Inheritance:
 * This template has been configured to allow Twig "block" overrides...
 * Twig "block[s]" are NOT related to Drupal blocks, see documentation here:
 * https://symfony.com/doc/current/templates.html#template-inheritance-and-layouts
 * Here are the blocks you can override at the template level:
 * - block microBannerNav
 * - block subSiteHeader
 * - block mainNav
 * - block subBrand
 * - block ncifFooterList1
 * - block ncifFooterList2
 *
 * Twig "INCLUDE" Overrides:
 * If you wish to override any of the "include" templates from a sub-theme
 * you must do the following:
 * - copy this page.html.twig file to the subtheme template directory
 * - copy the include file to the same location in the subtheme,
 *   we'll use "page-top-bar.html.twig" as the example
 * - modify the subtheme "page.html.twig" file, like so:
 *   "{% include '@ncif_base/components/page-top-bar.html.twig' %}"
 *    becomes
 *   "{% include '@THEME_NAME/page-top-bar.html.twig' %}"
 *    or
 *   "{% include '@THEME_NAME/components/page-top-bar.html.twig' %}"
 * - make the changes to the new component twig file in the sub theme
 * - Drupal namespaces the themes, which is why changing @THEME_NAME
 *   will pull templates from the correct location
 *
 */
#}

<div id="BodyInner">
  <header id="NcifSubSiteHeader" role="banner">
    {# include: micro-banner.html.twig #}
    {% include '@ncif_base/components/page-micro-banner.html.twig' %}
    {# include: sub-site-header.html.twig #}
    {% include '@ncif_base/components/page-sub-site-header.html.twig' %}
    {# include: main-nav.html.twig #}
    {% include '@ncif_base/components/page-main-nav.html.twig' %}
  </header>

  <div class="InnerPage">

    {# include: top-bar.html.twig #}
    {% include '@ncif_base/components/page-top-bar.html.twig' %}

    <div class="WidthContain">
      {# include: page-main.html.twig #}
      {% include '@ncif_base/components/page-main.html.twig' %}
    </div>
  </div>

  <footer id="NcifPageFooter" role="contentinfo">
      <div class="WidthContain">
        {# include page-footer.html.twig #}
        {% include '@ncif_base/components/page-footer.html.twig' %}
      </div>
  </footer>
</div>

