{{ page.footer }}
<ul>
  <li><a href="http://www.hhs.gov/" target="_blank">U.S. Department of Health and Human Services</a></li>
  <li><a href="http://www.nih.gov/" target="_blank">National Institutes of Health</a></li>
  <li><a href="http://www.cancer.gov/" target="_blank">National Cancer Institute</a></li>
  <li><a href="http://www.usa.gov/" target="_blank">USA.gov</a></li>
</ul>
{% block ncifFooterList1 %}
<ul>
  <li><a href="http://ncifrederick.cancer.gov/About/Privacy.aspx">Privacy Policy</a></li>
  <li><a href="http://ncifrederick.cancer.gov/About/Accessibility.aspx">Accessibility</a></li>
  <li><a href="http://ncifrederick.cancer.gov/About/Contacts.aspx">Contact</a></li>
  <li><a href="http://ncifrederick.cancer.gov/About/Help.aspx">Help</a></li>
  <li><a href="http://ncifrederick.cancer.gov/SiteMap.aspx">Site Map</a></li>
</ul>
{% endblock %}
{% block ncifFooterList2 %}
<ul>
  <li><a href="http://ncifrederick.cancer.gov/">Home</a></li>
  <li><a href="http://ncifrederick.cancer.gov/About/">About Us</a></li>
  <li><a href="http://ncifrederick.cancer.gov/Services/">Services</a></li>
  <li><a href="http://ncifrederick.cancer.gov/Science/">Science</a></li>
  <li><a href="http://ncifrederick.cancer.gov/Staff/">For Our Staff</a></li>
  <li><a href="mailto:ncifwebmaster@nih.gov">Webmaster</a></li>
</ul>
{% endblock %}
