<nav id="FnlPageNavigation" class="FourItems" role="navigation">
    <div class="TopNavigation WidthContain">
        <div class="Menu">
        {% block mainNav %}
        {% if page.navigation %}
            {{ page.navigation }}
        {% else %}
            <ul>
                <li><a href="https://ncifrederick.cancer.gov/Science/">Science</a></li>
                <li><a href="https://ncifrederick.cancer.gov/Services/">Services</a></li>
                <li><a href="https://ncifrederick.cancer.gov/Programs/">Programs</a></li>
                <li class="LastItem"><a href="https://ncifrederick.cancer.gov/HelpCenter/">Help Center</a></li>
            </ul>
        {% endif %}
        {% endblock %}
        </div>
    </div>
</nav>
