<div class="SubSiteHeader">
    <div class="WidthContain">
        {% block subSiteHeader %}
        {% if page.header %}
            {{ page.header }}
        {% else %}

        <div id="SubBannerTextImg">
            <a class="SiteLogo" href="{{ basePageUrl }}"><img src="{{ base_path }}themes/contrib/ncif_base/images/staffLogo.svg" alt="NCIF Staff Site Banner Beakers Icon" /><span id="SubBannerText">{{ node.title.value }}</span></a>
        </div>
        <div id="SiteHeadlines">
            <h2 id="SiteTextSubTitle"><a href="https://ncifrederick.cancer.gov/Staff/">NCI AT FREDERICK</a></h2>
            <h1 id="SiteTextTitle"><a href="https://ncifrederick.cancer.gov/Staff/">Staff Portal</a></h1>
        </div>
            <!-- default location of site logo and site name (disabled) -->

        <aside class="NcifSearchContain ClearFix" role="search">
            {{ page.search }}
        </aside>
        {% endif %}
        {% endblock %}
    </div>
</div>
