<div class="Banner">
    <div class="WidthContain">
        <div class="BannerInnerWrap">
            <div class="NihNcifLogo">
            <a class="NcifHomeLink" href="http://ncifrederick.cancer.gov/"><img src="{{ base_path }}themes/contrib/ncif_base/images/NcifLogo.svg" alt="NCI Logo" /><span id="NcifLogoText">NCI at Frederick</span></a>
            {% if ncif_options.ncif_staff_logo == 1 %}
            <a class="NcifStaffHomeLink" href="http://ncifrederick.cancer.gov/Staff/"><img src="{{ base_path }}themes/contrib/ncif_base/images/NcifStaffSite.svg" alt="Staff Site" /><span id="NcifStaffLogoText">Staff Site</span></a>
            {% endif %}
            </div>
            <nav role="navigation" class="NcifTopNav">
            {% block microBannerNav %}
            <ul>
                <li><a href="https://ncifrederick.cancer.gov/Staff/">Staff Site</a></li>
                <li><a href="https://ncifrederick.cancer.gov/Services/">Services</a></li>
                <li><a href="https://ncifrederick.cancer.gov/Science/">Science</a></li>
                <li><a href="https://ncifrederick.cancer.gov/Programs/">Programs</a></li>
                <li><a href="https://ncifrederick.cancer.gov/Staff/Phonebook/">Phonebook</a></li>
            </ul>
            {% endblock %}
            </nav>
        </div>
    </div>
</div>