<div class="l-content" role="main">

  {% if ncif_options.ncif_sub_brand == 1 %}
  <div class="FolderTop">
  {% block subBrand %}
    <a href="{{ front_page }}">
      <span>{{ site_name }}</span>
    </a>
  {% endblock %}
  </div>
  {% endif %}

  {{ page.highlighted }}
  {{ page.breadcrumbs }}
  <a id="main-content"></a>

  <!-- Default location of node title (disabled) -->

  {{ messages }}
  {{ tabs }}
  {{ page.help }}
  {% if action_links %}
    <ul class="action-links">{{ action_links }}</ul>
  {% endif %}
  <!--googleon: index-->

  {{ page.content }}
  {{ page.content_two }}
  {{ feed_icons }}
</div>

{{ page.sidebar_first }}
{{ page.sidebar_second }}
<!--googleoff: index-->
