{% if ncif_options.ncif_login_status == 1 %}
<div class="FnlTopBar ClearFix">
    <div class="WidthContain">
        <div id="loginStatus" class="FnlWelcomeMessage">
            <span class="UserIcon"></span>

            {% if logged_in == TRUE %}
            <span id="loginStatus_lblWelcome" class="LoginUsername">{{ drupal_token('current-user:display-name') }}</span> 
            <span class="SignOutWrapper"><span class="FlyoutWrap">
            {{ drupal_block('system_menu_block:account', wrapper=false) }}
            </span></span>
            {% else %}
            <a id="loginStatus_hypLogin" class="LoginLink" href="{{ base_path }}/user">Sign In</a>
            {% endif %}

        </div>
    </div>
</div>
{% endif %}