/* LAYOUT BUILDER STYLES */
.inlineObjects > div.layout__region {
  display: flex;
  flex-direction: row;
}

.dms-row-wrapper {
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: none;
  background-size: cover;
  background-position: center center;
}

#drupal-off-canvas details summary:after {
  content: "\002B";
  position: absolute;
  right: 20px;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2rem;
}

#drupal-off-canvas details[open] summary:after {
  content: "\2212";
}

#drupal-off-canvas fieldset legend span {
  font-size: 1.2rem;
}

#drupal-off-canvas .fieldgroup.form-item {
  width: 100%;
}

/* Layout Edit Page Styles */
.block-help-block,
#node-page-layout-builder-form,
.layout-builder-discard-changes {
  margin: 0 auto;
  max-width: var(--wide-widthContain-max-width);
}

.layout-builder-discard-changes {
  margin: 40px auto;
}

.block-help-block p {
  margin: 10px 0;
  line-height: 1.1em;
}



/* Background Colors */
.layout-builder-block {
  background-color: transparent;
}

.dms-layout__background-color--black {
  background-color: var(--layout-bg-color-black);
  color: var(--layout-bg-color-black-font);
}

.dms-layout__background-color--dark-gray-1 {
  background-color: var(--layout-bg-color-dark-gray-1);
  color: var(--layout-bg-color-dark-gray-1-font);
}

.dms-layout__background-color--dark-gray-2 {
  background-color: var(--layout-bg-color-dark-gray-2);
  color: var(--layout-bg-color-dark-gray-2-font);
}

.dms-layout__background-color--dark-gray-3 {
  background-color: var(--layout-bg-color-dark-gray-3);
  color: var(--layout-bg-color-dark-gray-3-font);
}

.dms-layout__background-color--dark-blue-black {
  background-color: var(--layout-bg-color-dark-blue-black);
  color: var(--layout-bg-color-dark-blue-black-font);
}

.dms-layout__background-color--dark-blue-green {
  background-color: var(--layout-bg-color-dark-blue-green);
  color: var(--layout-bg-color-dark-blue-green-font);
}

.dms-layout__background-color--light-gray {
  background-color: var(--layout-bg-color-light-gray);
  color: var(--layout-bg-color-light-gray-font);
}

.dms-layout__background-color--blue-green {
  background-color: var(--layout-bg-color-blue-green);
  color: var(--layout-bg-color-blue-green-font);
}

/* Background Color Admin UI */
#drupal-off-canvas fieldset[id^='edit-layout-settings-background-background-color'] legend {
  margin-bottom: 10px;
}

#drupal-off-canvas fieldset[id^='edit-layout-settings-background-background-color'] .form-radios .form-item {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

#drupal-off-canvas fieldset[id^='edit-layout-settings-background-background-color'] .form-radios input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

#drupal-off-canvas fieldset[id^='edit-layout-settings-background-background-color'] .form-radios label {
  display: block;
  padding: 15px 20px 15px 55px;
  font-size: 1.2rem;
  word-break: normal;
  white-space: initial;
  border-bottom: 1px solid rgb(37, 37, 37);
  cursor: pointer;
  position: relative;
}

#drupal-off-canvas fieldset[id^='edit-layout-settings-background-background-color'] .form-radios .form-item:first-child label {
  border-top: 1px solid rgb(37, 37, 37);
}

#drupal-off-canvas fieldset[id^='edit-layout-settings-background-background-color'] .form-radios input[type="radio"] + label:before {
  content: " ";
  width: 14px;
  height: 14px;
  display: inline-block;
  position: absolute;
  left: 20px;
  top: 13px;
  border-radius: 3px;
  border: 2px solid gray;
  line-height: 16px;
  padding: 2px;
}

#drupal-off-canvas fieldset[id^='edit-layout-settings-background-background-color'] .form-radios input[type="radio"]:hover + label:before {
  border: 2px solid white;
}

#drupal-off-canvas fieldset[id^='edit-layout-settings-background-background-color'] .form-radios input[type="radio"]:checked + label:before {
  border: 2px solid white;
}

#drupal-off-canvas fieldset[id^='edit-layout-settings-background-background-color'] .form-radios input[type="radio"]:checked + label:after {
  content: "\2713";
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  display: inline-block;
  position: absolute;
  left: 23px;
  top: 9px;
  color: #ffffff;
}

/* #drupal-off-canvas fieldset[id^='edit-layout-settings-background-background-color'] .form-radios input[type="radio"]:focus + label {
  border: 2px solid #ffffff;
} */

#drupal-off-canvas fieldset[id^='edit-layout-settings-background-background-color'] .form-radios label:hover {
  border-color: rgba('255, 255, 255, 0.5');
}

#drupal-off-canvas fieldset[id^='edit-layout-settings-background-background-color'] .form-radios .form-item label[for^='edit-layout-settings-background-background-color-black'] {
  background-color: var(--layout-bg-color-black);
  color: var(--layout-bg-color-black-font);
}

#drupal-off-canvas fieldset[id^='edit-layout-settings-background-background-color'] .form-radios .form-item label[for^='edit-layout-settings-background-background-color-dark-gray-1'] {
  background-color: var(--layout-bg-color-dark-gray-1);
  color: var(--layout-bg-color-dark-gray-1-font);
}

#drupal-off-canvas fieldset[id^='edit-layout-settings-background-background-color'] .form-radios .form-item label[for^='edit-layout-settings-background-background-color-dark-gray-2'] {
  background-color: var(--layout-bg-color-dark-gray-2);
  color: var(--layout-bg-color-dark-gray-2-font);
}

#drupal-off-canvas fieldset[id^='edit-layout-settings-background-background-color'] .form-radios .form-item label[for^='edit-layout-settings-background-background-color-dark-gray-3'] {
  background-color: var(--layout-bg-color-dark-gray-3);
  color: var(--layout-bg-color-dark-gray-3-font);
}

#drupal-off-canvas fieldset[id^='edit-layout-settings-background-background-color'] .form-radios .form-item label[for^='edit-layout-settings-background-background-color-dark-blue-black'] {
  background-color: var(--layout-bg-color-dark-blue-black);
  color: var(--layout-bg-color-dark-blue-black-font);
}

#drupal-off-canvas fieldset[id^='edit-layout-settings-background-background-color'] .form-radios .form-item label[for^='edit-layout-settings-background-background-color-dark-blue-green'] {
  background-color: var(--layout-bg-color-dark-blue-green);
  color: var(--layout-bg-color-dark-blue-green-font);
}

#drupal-off-canvas fieldset[id^='edit-layout-settings-background-background-color'] .form-radios .form-item label[for^='edit-layout-settings-background-background-color-light-gray'] {
  background-color: var(--layout-bg-color-light-gray);
  color: var(--layout-bg-color-light-gray-font);
}

#drupal-off-canvas fieldset[id^='edit-layout-settings-background-background-color'] .form-radios .form-item label[for^='edit-layout-settings-background-background-color-blue-green'] {
  background-color: var(--layout-bg-color-blue-green);
  color: var(--layout-bg-color-blue-green-font);
}

/* headline colors on dark backgrounds */
.dms-layout__background-color--black h1, .dms-layout__background-color--black h2, .dms-layout__background-color--black h3, .dms-layout__background-color--black h4, .dms-layout__background-color--black h5, .dms-layout__background-color--black h6,
div[class^='dms-layout__background-color--dark'] h1, div[class^='dms-layout__background-color--dark'] h2, div[class^='dms-layout__background-color--dark'] h3, div[class^='dms-layout__background-color--dark'] h4, div[class^='dms-layout__background-color--dark'] h5, div[class^='dms-layout__background-color--dark'] h6,
.dms-layout__background-color--blue-green h1, .dms-layout__background-color--blue-green h2, .dms-layout__background-color--blue-green h3, .dms-layout__background-color--blue-green h4, .dms-layout__background-color--blue-green h5, .dms-layout__background-color--blue-green h6,
.dms-layout__background-color--dark-blue-black h1, .dms-layout__background-color--dark-blue-black h2, .dms-layout__background-color--dark-blue-black h3, .dms-layout__background-color--dark-blue-black h4, .dms-layout__background-color--dark-blue-black h5, .dms-layout__background-color--dark-blue-black h6,
.dms-layout__background-color--dark-blue-green h1, .dms-layout__background-color--dark-blue-green h2, .dms-layout__background-color--dark-blue-green h3, .dms-layout__background-color--dark-blue-green h4, .dms-layout__background-color--dark-blue-green h5, .dms-layout__background-color--dark-blue-green h6 {
  color: #ffffff;
}

/* link colors on dark backgrounds */
.dms-layout__background-color--black a,
div[class^='dms-layout__background-color--dark'] a,
.dms-layout__background-color--blue-green a,
.dms-layout__background-color--dark-blue-black a,
.dms-layout__background-color--dark-blue-green a {
  color: #ffffff;
}




/* Row Padding */
.dms-layout__row {
  padding-left: 20px;
  padding-right: 20px;
  transform: scale(1); /* you need a scale here to allow it to transition in both directions */
  transition: 0.15s padding ease;
  display: flex;
  flex-direction: column;
}
.dms-layout__row-padding-top--small {
  padding-top: 30px;
}

.dms-layout__row-padding-bottom--small {
  padding-bottom: 30px;
}

.dms-layout__row-padding-top--medium {
  padding-top: 60px;
}

.dms-layout__row-padding-bottom--medium {
  padding-bottom: 60px;
}

.dms-layout__row-padding-top--large {
  padding-top: 90px;
}

.dms-layout__row-padding-bottom--large {
  padding-bottom: 90px;
}

/* reorder the main content column at small screen sizes */
.main-content-section .dms-layout__row > .column:first-child.column--25,
.main-content-section .dms-layout__row > .column:first-child.column--33,
.main-content-section .dms-layout__row > .column:first-child.column--34 {
  order: 1;
}


@media all and (min-width: 768px) {
  /* Row Layouts */
  .dms-layout__row {
    flex-direction: row;
  }

  .dms-layout__row-width--75 {
    max-width: 75%;
  }

  .dms-layout__row-width--50 {
    max-width: 75%;
  }

  .dms-layout__row-width--25 {
    max-width: 75%;
  }

  .dms-layout__row .column {
    width: 100%;
  }

  .dms-layout__row .column--75 {
    width: 75%;
  }

  .dms-layout__row .column--66 {
    width: 66%;
  }

  .dms-layout__row .column--50 {
    width: 50%;
  }

  .dms-layout__row .column--34 {
    width: 34%;
  }

  .dms-layout__row .column--33 {
    width: 33%;
  }

  .dms-layout__row .column--25 {
    width: 25%;
  }

  /* column gutters */
  .dms-layout__gutters--small .dms-layout__row > .column {
    margin-left: 30px;
  }

  .dms-layout__gutters--medium .dms-layout__row > .column {
    margin-left: 60px;
  }

  .dms-layout__gutters--large .dms-layout__row > .column {
    margin-left: 90px;
  }

  div[class*='dms-layout__gutters'] .dms-layout__row > .column--first {
    margin-left: 0;
  }

  /* unset the reorder the main content column at small screen sizes */
  .main-content-section .dms-layout__row > .column:first-child.column--25,
  .main-content-section .dms-layout__row > .column:first-child.column--33,
  .main-content-section .dms-layout__row > .column:first-child.column--34 {
    order: 0;
  }

}

@media all and (min-width: 1280px) {
  .dms-layout__row {
    padding-left: 0;
    padding-right: 0;
  }
}
